body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(https://giffiles.alphacoders.com/209/209343.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}

header {
    background-color:transparent;
    color: #fff;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 50px;
}

.active {
    color: #9fb5bd;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #54647c;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

nav a:hover {
    text-decoration: underline;
}

main {
   width: 99vw;
  
    padding: 20px;
}

.project-container ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 30vw);
    gap: 20px;
}

.project-container li {
    background-color: rgba(255, 255, 255, 0.7); 
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #54647c;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    transition: background-color 0.3s ease; 
}

.project-container li:hover {
    background-color: rgba(255, 255, 255, 1); 
}

.project-container img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.project-container h3 {
    font-size: 2.2rem;
    margin-top: 10px;
}

.project-container p {
    margin-top: 10px;
    font-size: 1.2rem;
}


/* Add this CSS to your stylesheet */
.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure it appears on top of other content */
}

.loader {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 8s linear infinite; /* Animation */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}