body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(https://giffiles.alphacoders.com/209/209343.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}

header {
    background-color:transparent;
    color: #fff;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 50px;
}

.active {
    color: #9fb5bd;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #54647c;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

nav a:hover {
    text-decoration: underline;
}

main {
    max-width: 800px;
  
    padding: 20px;
}

.project-container ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.project-container li {
    background-color: white;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.project-container img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.project-container h3 {
    font-size: 1.2rem;
    margin-top: 10px;
}

.project-container p {
    margin-top: 10px;
    font-size: 0.9rem;
}
